[General]
config-version=1.1
first-run=false

[account]
email=IvanMalison@gmail.com
logged-in=false
token=
token-secret=

[hotkeys]
captureFullScreen=Shift+Alt+1
captureSelection=Shift+Alt+2
captureWindow=Shift+Alt+3

[main]
capture-window-borders=false
current-uploader=imgur
delay=100
format=png
jpeg-quality=90
run-on-startup=true
show-notifications=true
show-save-dialog=true
sound=true

[network]
proxy-req-auth=false

[updates]
check-updates-automatically=true

[uploaders]
imgur\\access-token=
imgur\\anonymous=false
imgur\\copy-direct-link=false
imgur\\copy-link=true
imgur\\name-format=Screenshot at %H:%M:%S
imgur\\refresh-token=
imgur\\username=
