[submodule "lisp/flymake-cursor"]
	path = lisp/flymake-cursor
	url = git@github.com:illusori/emacs-flymake-cursor.git
[submodule "lisp/yasnippet"]
	path = lisp/yasnippet
	url = git@github.com:capitaomorte/yasnippet.git
[submodule "lisp/rainbow-delimiters"]
	path = lisp/rainbow-delimiters
	url = git@github.com:jlr/rainbow-delimiters.git
[submodule "lisp/multi-line-it"]
	path = lisp/multi-line-it
	url = git@github.com:IvanMalison/multi-line-it.git