.ropeproject
/.mail-sync
/config/google-chrome
/dotfiles/.pip/download_cache
/dotfiles/.pip/pip.log
/dotfiles/.tern-port
/dotfiles/boot/cache
/dotfiles/chrome-remote-desktop-session
/dotfiles/cider/.cache/
/dotfiles/config/gtk-2.0/gtkfilechooser.ini
/dotfiles/pip/cache/
/dotfiles/pip/download_cache/
/dotfiles/pip/pip.conf
/dotfiles/pip/pip.log
/dotfiles/sbt/0.13/plugins/project/
/dotfiles/sbt/0.13/plugins/target/
/dotfiles/sbt/boot/
/dotfiles/vim/.netrwhist
/dotfiles/vim/bundle/*
/dotfiles/wemo/cache
gotools
/dotfiles/config/xmonad/result
/dotfiles/config/taffybar/result
/dotfiles/emacs.d/*.sqlite
/dotfiles/config/gtk-3.0/colors.css
/dotfiles/config/gtk-3.0/settings.ini
/dotfiles/emacs.d/.cache/
/dotfiles/emacs.d/projectile.cache
/dotfiles/emacs.d/projectile-bookmarks.eld
/dotfiles/config/fontconfig/conf.d/10-hm-fonts.conf
/dotfiles/config/fontconfig/conf.d/52-hm-default-fonts.conf
/dotfiles/config/taffybar/_scratch/
/dotfiles/config/taffybar/status-notifier-item/
/dotfiles/config/taffybar/.direnv/
/dotfiles/config/taffybar/dist-newstyle/
/dotfiles/config/taffybar/sni-priorities.yaml
/dotfiles/config/taffybar/sni-priorities.dat
/dotfiles/config/xmonad/dist-newstyle/
/dotfiles/config/hypr/hyprscratch.conf
/.worktrees/

# Secrets and machine-local state (managed via agenix/pass instead of git)
/dotfiles/config/asciinema/config
/dotfiles/config/remmina/remmina.pref
/dotfiles/config/screencloud/ScreenCloud.conf

# Local tool state
/.playwright-cli/
/dotfiles/config/taffybar/dbus-menu/
