[submodule "dotfiles/config/taffybar/taffybar"]
	path = dotfiles/config/taffybar/taffybar
	url = ../../taffybar/taffybar.git
[submodule "dotfiles/xmonad/xmonad"]
	path = dotfiles/config/xmonad/xmonad
	url = ../xmonad.git
[submodule "dotfiles/xmonad/xmonad-contrib"]
	path = dotfiles/config/xmonad/xmonad-contrib
	url = ../xmonad-contrib.git
