.ropeproject
/.mail-sync
/dotfiles/.tern-port
config/google-chrome
/dotfiles/.pip/download_cache
/dotfiles/.pip/pip.log
/dotfiles/cider/.cache/
/dotfiles/config/Trolltech.conf
/dotfiles/config/dconf/
/dotfiles/config/google-chrome
/dotfiles/config/gtk-2.0/
/dotfiles/config/gtk-3.0/
/dotfiles/config/hexchat
/dotfiles/config/hub
/dotfiles/config/linuxmint/
/dotfiles/config/menus/
/dotfiles/config/menus/applications-merged/
/dotfiles/config/menus/gnome-applications-merged
/dotfiles/config/monitors.xml
/dotfiles/config/mopidy
/dotfiles/config/mopidy/spotify/
/dotfiles/config/nemo/
/dotfiles/config/pulse/
/dotfiles/config/sparkleshare/*.key
/dotfiles/config/sparkleshare/*.pub
/dotfiles/config/sparkleshare/logs
/dotfiles/config/spotify
/dotfiles/config/totem/
/dotfiles/config/user-dirs.dirs
/dotfiles/config/user-dirs.locale
/dotfiles/config/vlc/
/dotfiles/pip/cache/
/dotfiles/pip/download_cache/
/dotfiles/pip/pip.conf
/dotfiles/pip/pip.log
/dotfiles/sbt/0.13/plugins/project/
/dotfiles/sbt/0.13/plugins/target/
/dotfiles/sbt/boot/
/dotfiles/vim/.netrwhist
/dotfiles/vim/bundle/*
/dotfiles/wemo/cache
gotools