@define-color materialize-red #e51c23;
@define-color materialize-red-lighten-5 #fdeaeb;
@define-color materialize-red-lighten-4 #f8c1c3;
@define-color materialize-red-lighten-3 #f3989b;
@define-color materialize-red-lighten-2 #ee6e73;
@define-color materialize-red-lighten-1 #ea454b;
@define-color materialize-red-darken-1 #d0181e;
@define-color materialize-red-darken-2 #b9151b;
@define-color materialize-red-darken-3 #a21318;
@define-color materialize-red-darken-4 #8b1014;
@define-color red #F44336;
@define-color red-lighten-5 #FFEBEE;
@define-color red-lighten-4 #FFCDD2;
@define-color red-lighten-3 #EF9A9A;
@define-color red-lighten-2 #E57373;
@define-color red-lighten-1 #EF5350;
@define-color red-darken-1 #E53935;
@define-color red-darken-2 #D32F2F;
@define-color red-darken-3 #C62828;
@define-color red-darken-4 #B71C1C;
@define-color red-accent-1 #FF8A80;
@define-color red-accent-2 #FF5252;
@define-color red-accent-3 #FF1744;
@define-color red-accent-4 #D50000;
@define-color pink #e91e63;
@define-color pink-lighten-5 #fce4ec;
@define-color pink-lighten-4 #f8bbd0;
@define-color pink-lighten-3 #f48fb1;
@define-color pink-lighten-2 #f06292;
@define-color pink-lighten-1 #ec407a;
@define-color pink-darken-1 #d81b60;
@define-color pink-darken-2 #c2185b;
@define-color pink-darken-3 #ad1457;
@define-color pink-darken-4 #880e4f;
@define-color pink-accent-1 #ff80ab;
@define-color pink-accent-2 #ff4081;
@define-color pink-accent-3 #f50057;
@define-color pink-accent-4 #c51162;
@define-color purple #9c27b0;
@define-color purple-lighten-5 #f3e5f5;
@define-color purple-lighten-4 #e1bee7;
@define-color purple-lighten-3 #ce93d8;
@define-color purple-lighten-2 #ba68c8;
@define-color purple-lighten-1 #ab47bc;
@define-color purple-darken-1 #8e24aa;
@define-color purple-darken-2 #7b1fa2;
@define-color purple-darken-3 #6a1b9a;
@define-color purple-darken-4 #4a148c;
@define-color purple-accent-1 #ea80fc;
@define-color purple-accent-2 #e040fb;
@define-color purple-accent-3 #d500f9;
@define-color purple-accent-4 #aa00ff;
@define-color deep-purple #673ab7;
@define-color deep-purple-lighten-5 #ede7f6;
@define-color deep-purple-lighten-4 #d1c4e9;
@define-color deep-purple-lighten-3 #b39ddb;
@define-color deep-purple-lighten-2 #9575cd;
@define-color deep-purple-lighten-1 #7e57c2;
@define-color deep-purple-darken-1 #5e35b1;
@define-color deep-purple-darken-2 #512da8;
@define-color deep-purple-darken-3 #4527a0;
@define-color deep-purple-darken-4 #311b92;
@define-color deep-purple-accent-1 #b388ff;
@define-color deep-purple-accent-2 #7c4dff;
@define-color deep-purple-accent-3 #651fff;
@define-color deep-purple-accent-4 #6200ea;
@define-color indigo #3f51b5;
@define-color indigo-lighten-5 #e8eaf6;
@define-color indigo-lighten-4 #c5cae9;
@define-color indigo-lighten-3 #9fa8da;
@define-color indigo-lighten-2 #7986cb;
@define-color indigo-lighten-1 #5c6bc0;
@define-color indigo-darken-1 #3949ab;
@define-color indigo-darken-2 #303f9f;
@define-color indigo-darken-3 #283593;
@define-color indigo-darken-4 #1a237e;
@define-color indigo-accent-1 #8c9eff;
@define-color indigo-accent-2 #536dfe;
@define-color indigo-accent-3 #3d5afe;
@define-color indigo-accent-4 #304ffe;
@define-color blue #2196F3;
@define-color blue-lighten-5 #E3F2FD;
@define-color blue-lighten-4 #BBDEFB;
@define-color blue-lighten-3 #90CAF9;
@define-color blue-lighten-2 #64B5F6;
@define-color blue-lighten-1 #42A5F5;
@define-color blue-darken-1 #1E88E5;
@define-color blue-darken-2 #1976D2;
@define-color blue-darken-3 #1565C0;
@define-color blue-darken-4 #0D47A1;
@define-color blue-accent-1 #82B1FF;
@define-color blue-accent-2 #448AFF;
@define-color blue-accent-3 #2979FF;
@define-color blue-accent-4 #2962FF;
@define-color light-blue #03a9f4;
@define-color light-blue-lighten-5 #e1f5fe;
@define-color light-blue-lighten-4 #b3e5fc;
@define-color light-blue-lighten-3 #81d4fa;
@define-color light-blue-lighten-2 #4fc3f7;
@define-color light-blue-lighten-1 #29b6f6;
@define-color light-blue-darken-1 #039be5;
@define-color light-blue-darken-2 #0288d1;
@define-color light-blue-darken-3 #0277bd;
@define-color light-blue-darken-4 #01579b;
@define-color light-blue-accent-1 #80d8ff;
@define-color light-blue-accent-2 #40c4ff;
@define-color light-blue-accent-3 #00b0ff;
@define-color light-blue-accent-4 #0091ea;
@define-color cyan #00bcd4;
@define-color cyan-lighten-5 #e0f7fa;
@define-color cyan-lighten-4 #b2ebf2;
@define-color cyan-lighten-3 #80deea;
@define-color cyan-lighten-2 #4dd0e1;
@define-color cyan-lighten-1 #26c6da;
@define-color cyan-darken-1 #00acc1;
@define-color cyan-darken-2 #0097a7;
@define-color cyan-darken-3 #00838f;
@define-color cyan-darken-4 #006064;
@define-color cyan-accent-1 #84ffff;
@define-color cyan-accent-2 #18ffff;
@define-color cyan-accent-3 #00e5ff;
@define-color cyan-accent-4 #00b8d4;
@define-color teal #009688;
@define-color teal-lighten-5 #e0f2f1;
@define-color teal-lighten-4 #b2dfdb;
@define-color teal-lighten-3 #80cbc4;
@define-color teal-lighten-2 #4db6ac;
@define-color teal-lighten-1 #26a69a;
@define-color teal-darken-1 #00897b;
@define-color teal-darken-2 #00796b;
@define-color teal-darken-3 #00695c;
@define-color teal-darken-4 #004d40;
@define-color teal-accent-1 #a7ffeb;
@define-color teal-accent-2 #64ffda;
@define-color teal-accent-3 #1de9b6;
@define-color teal-accent-4 #00bfa5;
@define-color green #4CAF50;
@define-color green-lighten-5 #E8F5E9;
@define-color green-lighten-4 #C8E6C9;
@define-color green-lighten-3 #A5D6A7;
@define-color green-lighten-2 #81C784;
@define-color green-lighten-1 #66BB6A;
@define-color green-darken-1 #43A047;
@define-color green-darken-2 #388E3C;
@define-color green-darken-3 #2E7D32;
@define-color green-darken-4 #1B5E20;
@define-color green-accent-1 #B9F6CA;
@define-color green-accent-2 #69F0AE;
@define-color green-accent-3 #00E676;
@define-color green-accent-4 #00C853;
@define-color light-green #8bc34a;
@define-color light-green-lighten-5 #f1f8e9;
@define-color light-green-lighten-4 #dcedc8;
@define-color light-green-lighten-3 #c5e1a5;
@define-color light-green-lighten-2 #aed581;
@define-color light-green-lighten-1 #9ccc65;
@define-color light-green-darken-1 #7cb342;
@define-color light-green-darken-2 #689f38;
@define-color light-green-darken-3 #558b2f;
@define-color light-green-darken-4 #33691e;
@define-color light-green-accent-1 #ccff90;
@define-color light-green-accent-2 #b2ff59;
@define-color light-green-accent-3 #76ff03;
@define-color light-green-accent-4 #64dd17;
@define-color lime #cddc39;
@define-color lime-lighten-5 #f9fbe7;
@define-color lime-lighten-4 #f0f4c3;
@define-color lime-lighten-3 #e6ee9c;
@define-color lime-lighten-2 #dce775;
@define-color lime-lighten-1 #d4e157;
@define-color lime-darken-1 #c0ca33;
@define-color lime-darken-2 #afb42b;
@define-color lime-darken-3 #9e9d24;
@define-color lime-darken-4 #827717;
@define-color lime-accent-1 #f4ff81;
@define-color lime-accent-2 #eeff41;
@define-color lime-accent-3 #c6ff00;
@define-color lime-accent-4 #aeea00;
@define-color yellow #ffeb3b;
@define-color yellow-lighten-5 #fffde7;
@define-color yellow-lighten-4 #fff9c4;
@define-color yellow-lighten-3 #fff59d;
@define-color yellow-lighten-2 #fff176;
@define-color yellow-lighten-1 #ffee58;
@define-color yellow-darken-1 #fdd835;
@define-color yellow-darken-2 #fbc02d;
@define-color yellow-darken-3 #f9a825;
@define-color yellow-darken-4 #f57f17;
@define-color yellow-accent-1 #ffff8d;
@define-color yellow-accent-2 #ffff00;
@define-color yellow-accent-3 #ffea00;
@define-color yellow-accent-4 #ffd600;
@define-color amber #ffc107;
@define-color amber-lighten-5 #fff8e1;
@define-color amber-lighten-4 #ffecb3;
@define-color amber-lighten-3 #ffe082;
@define-color amber-lighten-2 #ffd54f;
@define-color amber-lighten-1 #ffca28;
@define-color amber-darken-1 #ffb300;
@define-color amber-darken-2 #ffa000;
@define-color amber-darken-3 #ff8f00;
@define-color amber-darken-4 #ff6f00;
@define-color amber-accent-1 #ffe57f;
@define-color amber-accent-2 #ffd740;
@define-color amber-accent-3 #ffc400;
@define-color amber-accent-4 #ffab00;
@define-color orange #ff9800;
@define-color orange-lighten-5 #fff3e0;
@define-color orange-lighten-4 #ffe0b2;
@define-color orange-lighten-3 #ffcc80;
@define-color orange-lighten-2 #ffb74d;
@define-color orange-lighten-1 #ffa726;
@define-color orange-darken-1 #fb8c00;
@define-color orange-darken-2 #f57c00;
@define-color orange-darken-3 #ef6c00;
@define-color orange-darken-4 #e65100;
@define-color orange-accent-1 #ffd180;
@define-color orange-accent-2 #ffab40;
@define-color orange-accent-3 #ff9100;
@define-color orange-accent-4 #ff6d00;
@define-color deep-orange #ff5722;
@define-color deep-orange-lighten-5 #fbe9e7;
@define-color deep-orange-lighten-4 #ffccbc;
@define-color deep-orange-lighten-3 #ffab91;
@define-color deep-orange-lighten-2 #ff8a65;
@define-color deep-orange-lighten-1 #ff7043;
@define-color deep-orange-darken-1 #f4511e;
@define-color deep-orange-darken-2 #e64a19;
@define-color deep-orange-darken-3 #d84315;
@define-color deep-orange-darken-4 #bf360c;
@define-color deep-orange-accent-1 #ff9e80;
@define-color deep-orange-accent-2 #ff6e40;
@define-color deep-orange-accent-3 #ff3d00;
@define-color deep-orange-accent-4 #dd2c00;
@define-color brown #795548;
@define-color brown-lighten-5 #efebe9;
@define-color brown-lighten-4 #d7ccc8;
@define-color brown-lighten-3 #bcaaa4;
@define-color brown-lighten-2 #a1887f;
@define-color brown-lighten-1 #8d6e63;
@define-color brown-darken-1 #6d4c41;
@define-color brown-darken-2 #5d4037;
@define-color brown-darken-3 #4e342e;
@define-color brown-darken-4 #3e2723;
@define-color blue-grey #607d8b;
@define-color blue-grey-lighten-5 #eceff1;
@define-color blue-grey-lighten-4 #cfd8dc;
@define-color blue-grey-lighten-3 #b0bec5;
@define-color blue-grey-lighten-2 #90a4ae;
@define-color blue-grey-lighten-1 #78909c;
@define-color blue-grey-darken-1 #546e7a;
@define-color blue-grey-darken-2 #455a64;
@define-color blue-grey-darken-3 #37474f;
@define-color blue-grey-darken-4 #263238;
@define-color grey #9e9e9e;
@define-color grey-lighten-5 #fafafa;
@define-color grey-lighten-4 #f5f5f5;
@define-color grey-lighten-3 #eeeeee;
@define-color grey-lighten-2 #e0e0e0;
@define-color grey-lighten-1 #bdbdbd;
@define-color grey-darken-1 #757575;
@define-color grey-darken-2 #616161;
@define-color grey-darken-3 #424242;
@define-color grey-darken-4 #212121;
@define-color black #000000;
@define-color white #FFFFFF;
