@define-color taffybar_bg_color #000000;
@define-color taffybar_bg_tone #212121;
@define-color taffybar_active_window_color rgba(255, 255, 255, .5);

.IconContainer {
	border-radius: 5px;
}

.IconImage {
	padding: 2px;
}

.IconContainer {
	transition: background-color .5s, opacity.5s;
	opacity: 1;
	background-color: @taffybar-bg-tone;
}

.IconContainer.Urgent {
	transition: background-color .5s;
	background-color: #ff0000;
}

.IconContainer.Active {
	transition: background-color .5s;
	background-color: @taffybar_active_window_color;
}

.IconContainer.Minimized .IconImage {
	transition: opacity .5s;
	opacity: .3;
}

.Contents {
	border-radius: 5px;
	padding: 3px;
}

.Contents.Cpu {
}

.Active .Contents, .Visible .Contents {
	background-color: @taffybar_bg_tone;
}

.InnerPad {
	padding: 4px;
}

.Taffybar {
	background-color: @taffybar_bg_color;
	border-radius: 5px;
}

.Taffybar * {
	font-family: "Fira Sans", sans-serif;
	font-size: 10pt;
}

.WorkspaceLabel {
	padding-right: 3px;
	padding-left: 2px;
	font-size: 12pt;
}

#WindowSwitcher {
	background-color: @taffybar_bg_color;
}
