style "default" {
  font_name = "Source Code Pro 8"
  bg[NORMAL] = @base03
  fg[NORMAL] = @base0
  text[NORMAL] = @base0
}

style "notification-button" = "default" {
  font_name = "Terminus 8"
  text[NORMAL] = @violet
  fg[NORMAL] = @violet
}

widget "Taffybar*" style "default"
widget "*NotificationCloseButton" style "notification-button"
