style "taffybar-default" {
  color["black"] = "#000000"
  color["white"] = "#ffffff"

  color["green"] = "#4caf50"
  color["yellow"] = "#ffeb3b"
  color["blue"] = "#2196f3"
  color["red"] = "#E57373"
  color["dgrey"] = "#212121"
  color["ldgrey"] = "#424242"
  color["lgrey"] = "#bdbdbd"
  color["teal"] = "#80CBC4"
  color["bgrey"] = "#37474F"
  color["bgreyl"] = "#546E7A"

  bg[NORMAL]   = @dgrey
  fg[NORMAL]   = @white
  text[NORMAL] = @white
  fg[PRELIGHT] = @green
  bg[PRELIGHT] = @teal
}

style "taffybar-active-window" = "taffybar-default" {
  bg[NORMAL] = @black
  fg[NORMAL] = @yellow
}

style "taffybar-notification-button" = "taffybar-default" {
  text[NORMAL] = @red
  fg[NORMAL]   = @red
}

style "taffybar-workspace-border-active" = "taffybar-default" {
  bg[NORMAL] = @yellow
}
style "taffybar-workspace-border-visible" = "taffybar-default" {
  bg[NORMAL] = @red
}
style "taffybar-workspace-border-empty" = "taffybar-default" {
  bg[NORMAL] = @blue
}
style "taffybar-workspace-border-hidden" = "taffybar-default" {
  bg[NORMAL] = @blue
}

style "taffybar-icon-urgent" = "taffybar-default" {
  bg[NORMAL] = @yellow
}

style "taffybar-workspace-contents-active" = "taffybar-default" {
  bg[NORMAL] = @ldgrey
}

style "taffybar-hover-button" = "taffybar-default" {
  bg[ACTIVE] = @yellow
  bg[NORMAL] = @black
  bg[PRELIGHT] = @yellow
  text[PRELIGHT] = @yellow
}

widget "Taffybar*" style "taffybar-default"
widget "Taffybar*WindowSwitcher*label" style "taffybar-active-window"
widget "*NotificationCloseButton" style "taffybar-notification-button"

widget "*Workspace-underline*-active*" style "taffybar-workspace-border-active"
widget "*Workspace-contents*-active*" style "taffybar-workspace-contents-active"

widget "*Workspace-underline*-visible*" style "taffybar-workspace-border-visible"
widget "*Workspace-underline*-empty*" style "taffybar-workspace-border-empty"
widget "*Workspace-underline*-hidden*" style "taffybar-workspace-border-hidden"

widget "*Workspace-Border*-active*" style "taffybar-workspace-border-active"
widget "*Workspace-Container-*-active*" style "taffybar-default"
widget "*Workspace-Border*-visible*" style "taffybar-workspace-border-visible"
widget "*Workspace-Container-*-visible*" style "taffybar-default"

widget "*Workspace-icon*-urgent*" style "taffybar-icon-urgent"

widget "*WorkspaceHUD-*" style "taffybar-hover-button"
widget "*WorkspaceHUD-*" style "taffybar-hover-button"
