style "taffybar-default" {
  color["black"] = "#000000"
  color["white"] = "#ffffff"

  color["green"] = "#4caf50"
  color["yellow"] = "#ffeb3b"
  color["blue"] = "#2196f3"
  color["red"] = "#f44336"
  color["dgrey"] = "#212121"
  color["lgrey"] = "#bdbdbd"

  bg[NORMAL]   = @dgrey
  fg[NORMAL]   = @white
  text[NORMAL] = @white
  fg[PRELIGHT] = @green
  bg[PRELIGHT] = @black
}

style "taffybar-active-window" = "taffybar-default" {
  bg[NORMAL] = @black
  fg[NORMAL] = @green
}

style "taffybar-notification-button" = "taffybar-default" {
  text[NORMAL] = @red
  fg[NORMAL]   = @red
}

style "taffybar-workspace-border-active" = "taffybar-default" {
  bg[NORMAL] = "#01579B"
  fg[NORMAL] = @black
}
style "taffybar-workspace-border-visible" = "taffybar-default" {
  bg[NORMAL] = "#80CBC4"
  fg[NORMAL] = @black
}
style "taffybar-workspace-border-empty" = "taffybar-default" {
  bg[NORMAL] = @dgrey
}
style "taffybar-workspace-border-hidden" = "taffybar-default" {
  bg[NORMAL] = "#E57373"
  fg[NORMAL] = @black
}
style "taffybar-workspace-border-urgent" = "taffybar-default" {
  bg[NORMAL] = @black
}

widget "Taffybar*" style "taffybar-default"
widget "Taffybar*WindowSwitcher*label" style "taffybar-active-window"
widget "*NotificationCloseButton" style "taffybar-notification-button"
widget "*Workspace-*-active*" style "taffybar-workspace-border-active"
widget "*Workspace-*-visible*" style "taffybar-workspace-border-visible"
widget "*Workspace-*-empty*" style "taffybar-workspace-border-empty"
widget "*Workspace-*-hidden*" style "taffybar-workspace-border-hidden"
widget "*Workspace-*-urgent*" style "taffybar-workspace-border-urgent"
