coloredlogs
ddg
dotfiles
dropbox
editorconfig
flake8
flask
importmagic
invoke
jinja
lxml
mopidy-gmusic
mopidy-moped
mopidy-scrobbler
mopidy-spotify
numpy
okcupyd
ouimeaux
pylint
pyspotify
pythonpy
readline
ropemacs
simplejson
sqlalchemy
tox
vcrpy
