[Unit]
Description=Alarm Clock
Wants=taffybar.service
After=status-notifier-watcher.service

[Service]
Type=simple
ExecStart=/usr/bin/env alarm-clock-applet
ExecStop=/usr/bin/pkill alarm-clock-applet

[Install]
WantedBy=wm.target
