[Unit]
Description=clipit
Wants=taffybar.service
After=taffybar.service

[Service]
Type=simple
ExecStart=/usr/bin/env clipit
ExecStop=/usr/bin/pkill clipit

[Install]
WantedBy=wm.target
