[Unit]
Description=discord
Wants=taffybar.service
After=taffybar.service

[Service]
ExecStart=/usr/bin/env run_unity.sh discord
Restart=always

[Install]
WantedBy=wm.target
