[Unit]
Description=Keybase
Wants=taffybar.service
After=taffybar.service

[Service]
Type=forking
ExecStart=/usr/bin/env run_keybase
PIDFile=$XDG_RUNTIME_DIR/keybase/keybased.pid

[Install]
WantedBy=wm.target
