*.elc
.cask
.lsp-session-v1
.org-id-locations
.project-roots
.python-environments/
.smex-items
.sx
.tern-port
.tutor
/eln-cache
/transient
/tree-sitter
README.el
README.html
ac-comphist.dat
auto-save-list
backups
benchmark.el
bookmarks
custom-after.el
custom-before.el
custom.el
elpa
ensime
eproject.lst
eshell
ido.last
jabber-avatar-cache
kat-mode.el
org-caldav-*
org-caldav-backup.org
org-config.el
org-gcal/
persp-confs/
places
project-to-org-filepath
recentf
request/
semanticdb/
server
session.*
skewer-cache
smex-items
speed-type/
straight/
this-machine.el
tramp
tutorial
uber.el
url
var
xkcd
org-roam.db
