ac-comphist.dat
auto-save-list
eproject.lst
*.elc
.smex-items
places
backups
eshell
url
bookmarks
elpa
.python-environments/
tramp
server
.project-roots
custom.el
smex-items
ido.last
session.*
var
skewer-cache
.org-id-locations
jabber-avatar-cache
this-machine.el
recentf
persp-confs/
.tern-port
speed-type/
custom-before.el
custom-after.el
org-gcal/
request/
org-caldav-backup.org
ensime
project-to-org-filepath
.sx
.cask
uber.el