[Unit]
Description=compton

[Service]
Type=forking
ExecStart=/usr/bin/compton -cC -f -b
ExecStop=/usr/bin/pkill compton

[Install]
WantedBy=wm.target
