[Unit]
Description=compton

[Service]
Type=simple
ExecStart=/usr/bin/env compton -cC
ExecStop=/usr/bin/env pkill compton

[Install]
WantedBy=wm.target
