[Unit]
Description=CopyQ
After=taffybar.service

[Service]
Type=simple
ExecStart=/usr/bin/copyq
ExecStop=/usr/bin/pkill copyq

[Install]
WantedBy=wm.target
