[Unit]
Description=git-sync %f %I %i

[Service]
Type=simple
ExecStart=/usr/bin/env git_sync_directory.sh %f
ExecStop=/usr/bin/env pkill git_sync_directory.sh
Restart=always
RestartSec=3

[Install]
WantedBy=wm.target
