[Unit]
Description=github-notifications
Wants=taffybar.service
After=taffybar.service

[Service]
Type=simple
ExecStart=/usr/bin/env notifications-tray-icon --github-token-pass github-token
ExecStop=/usr/bin/env pkill 'notifications-tray-icon --github-token-pass github-token'

[Install]
WantedBy=wm.target
