[Unit]
Description=gitter
Wants=taffybar.service
After=taffybar.service

[Service]
ExecStart=/usr/bin/env Gitter
Restart=always

[Install]
WantedBy=wm.target
