[Unit]
Description=imwheel

[Service]
Type=simple
ExecStart=/usr/bin/env imwheel -b 45
ExecStop=/usr/bin/pkill imwheel
RemainAfterExit=yes

[Install]
WantedBy=wm.target
