[Unit]
Description=KeePassX
After=taffybar.service

[Service]
Type=simple
ExecStart=/usr/bin/keepassx "$HOME/SparkleShare/config/creds/keepass.key" "$HOME/SparkleShare/config/db.kdbx"
ExecStop=/usr/bin/pkill keepassx

[Install]
WantedBy=wm.target
