[Unit]
Description=NM Applet
Wants=taffybar.service
After=status-notifier-watcher.service

[Service]
Type=simple
ExecStart=/usr/bin/env nm-applet --sm-disable --indicator
ExecStop=/usr/bin/pkill nm-applet

[Install]
WantedBy=wm.target
