[Unit]
Description=NM Applet
After=taffybar.service

[Service]
Type=simple
ExecStart=/usr/bin/nm-applet --sm-disable
ExecStop=/usr/bin/pkill nm-applet

[Install]
WantedBy=wm.target
