[Unit]
Description=Pulse Audio System Tray
After=taffybar.service

[Service]
Type=simple
ExecStart=/usr/bin/pasystray
ExecStop=/usr/bin/pkill pasystray

[Install]
WantedBy=wm.target
