[Unit]
Description=remmina
After=taffybar.service

[Service]
Type=simple
ExecStart=/usr/bin/remmina -i
ExecStop=/usr/bin/pkill remmina
RemainAfterExit=Yes

[Install]
WantedBy=wm.target
