[Unit]
Description=ScreenCloud
After=taffybar.service

[Service]
Type=simple
ExecStart=/usr/bin/screencloud
ExecStop=/usr/bin/pkill screencloud

[Install]
WantedBy=wm.target
