[Unit]
Description=Sparkleshare
Wants=taffybar.service
After=taffybar.service

[Service]
ExecStart=/usr/bin/sparkleshare start
ExecStop=/usr/bin/sparkleshare stop
Type=simple

[Install]
WantedBy=wm.target
