[Unit]
Description=Sparkleshare

[Service]
ExecStart=/usr/bin/sparkleshare start
ExecStop=/usr/bin/sparkleshare stop
Type=forking

[Install]
WantedBy=graphical.target
