[Unit]
Description=status-notifier-watcher

[Service]
Type=simple
ExecStart=/usr/bin/env status-notifier-watcher
ExecStop=/usr/bin/pkill status-notifier-watcher

[Install]
WantedBy=wm.target
