[Unit]
Description=taffybar

[Service]
Type=simple
ExecStart=/usr/bin/env taffybar
ExecStop=/usr/bin/env pkill taffybar
Restart=always
RestartSec=3

[Install]
WantedBy=wm.target
