[Unit]
Description=udiskie
Wants=taffybar.service
After=taffybar.service

[Service]
ExecStart=/usr/bin/env udiskie --tray --appindicator
Restart=always

[Install]
WantedBy=wm.target
