[Unit]
Description=volnoti

[Service]
Type=simple
ExecStart=/usr/bin/env volnoti -n -v
ExecStop=/usr/bin/env pkill volnoti

[Install]
WantedBy=wm.target
