[Unit]
Description=wallpaper
Requires=compton.service
After=compton.service

[Service]
Type=simple
ExecStart=/usr/bin/env wallpaper.sh
ExecStop=/usr/bin/pkill wallpaper.sh

[Install]
WantedBy=wm.target
