[Unit]
Description=X Settings Daemon

[Service]
ExecStart=/usr/bin/env xsettingsd-setup
ExecStop=/usr/bin/pkill xsettingsd

[Install]
WantedBy=wm.target
