/Trolltech.conf
/browser-launcher2
/chromium/
/chromium/Avatars/
/configstore
/dconf/
/dleyna-renderer-service.conf
/evolution/
/gconf/
/gedit/
/google-chrome
/gtk-2.0/
/gtk-3.0/
/hexchat
/hub
/linuxmint/
/menus/
/menus/applications-merged/
/menus/gnome-applications-merged
/monitors.xml
/mopidy
/mopidy/spotify/
/nemo/
/pulse/
/sparkleshare/*.key
/sparkleshare/*.pub
/sparkleshare/avatars/
/sparkleshare/logs
/spotify
/systemd/user/default.target.wants
/systemd/user/sockets.target.wants
/totem/
/transmission/dht.dat
/transmission/resume
/transmission/stats.json
/transmission/torrents/
/user-dirs.dirs
/user-dirs.locale
/vlc/
/xfce4/
