<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.imalison.mu4e-sync</string>
    <key>ProgramArguments</key>
    <array>
      <string>zsh</string>
      <string>-c</string>
      <string>~/.lib/mu4e_sync.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>10</integer>
    <key>StandardOutPath</key>
    <string>/tmp/org.imalison.mu4e-sync.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/org.imalison.mu4e-sync.error</string>
</dict>
</plist>
